html, body {
  font: 18px/1.4 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
}

h1 {
}

nav {
  display: flex;
}

nav a {
  flex: 0 0 auto;
  display: block;
  padding: 8px;
}

button {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type="number"] {
  font-size: 18px;
}

.inventory-census {
  max-width: 800px;
}

.inventory-product {
  display: flex;
  padding: 8px 0;
}

.inventory-product * {
  flex-basis: 100px;
  padding: 0 4px;
}

.inventory-submit {
  margin-top: 16px;
}
